.hero {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(/images/about-Hero-grid.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero-content{
    max-width: 555px;
    height: 325px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-content p {
    margin-top: 20px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 70px;
}

#headbadge {
    width: 118px;
    /*height: 30px; */
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #C1272D;
    padding: 4px 20px 4px 20px;
    border-radius: 8px;
    background: #C1272D0A;
}

.message .outer-container{
    max-width: 1230px;
    margin: 96px auto;
    background-color: #00000005;
    padding: 0 10px;

}
.outer-container .head-form{
    max-width: 768px;
    margin: 43px auto;
    text-align: center;
}

.head{
    margin-bottom: 47px ;
}
.head h2{
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: center;
}
.head p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #000000A6;
}

.message form input::placeholder{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000A6;
}

form input{
    /* width: 50%; */
    width: 100%;
    /* max-width: 374px; */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #00000040;
    border-radius: 8px;
    margin: 0px;
}
.message textarea{
    width: 100%;
    height: 278px;
    box-sizing: border-box;
    border: 1px solid #00000040;
    border-radius: 8px;
    padding: 20px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #000000A6;
}

/* form .input-group{
    margin-bottom: 46px;
} */

input[type="submit"]{
    background-color: #C1272D;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 47px;
    max-width: 374px;
}

.message .input-group{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    margin-bottom: 47px;
}

#socials{
    max-width: 817px;
    margin: 0 auto;
    padding: 0 10px;
}
#socials .social-container{
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}

#socials .social-card{
    display: flex;
    align-items: center;
    gap: 12px;
}
.social-card h3{
font-size: 20px;
font-weight: 700;
line-height: 30px;
}
.social-card p{
font-size: 20px;
font-weight: 400;
line-height: 30px;
}

@media (max-width: 600px) {
    .message .input-group{
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    #socials .social-container{
    flex-direction: column;
    gap: 32px;
    }
}
