/* Waitlist form and other styles that were in main2.css */

/* #waitlistWrapper input { */
#myForm input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 30px;
  padding: 10px;

  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #c1272d;
}

#myForm input::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000a6;
}

.waitlist .input-container {
  position: relative;
  width: 50%;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
}

#myForm button {
  font-family: Manrope;
  background-color: #c1272d;
  position: absolute;
  top: 3px;
  right: 3px;
  height: 90%;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #ffffff;

  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  color: #ffffff;
}

#landlordBtn {
  background-color: #c1272d;
  color: white;
  max-width: 266px;
  padding: 16px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 32px;
}

#landlordBtn:hover {
  background-color: #a61e34;
}
