main .how-it-works {
  width: 90%;
  margin: 0 auto;
}

/* #waitlistWrapper input { */
#myForm input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid ;
  border-radius: 30px;
  padding: 10px;
  
  

  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #c1272d;
}

#myForm input::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000a6;
}

.waitlist .input-container {
  position: relative;
  width: 50%;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;

  /* background-color: transparent; */
}

#myForm button {
  font-family: Manrope;
  background-color: #c1272d;
  position: absolute;
  top: 3px;
  right: 3px;
  height: 90%;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #ffffff;

  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.59px;
  color: #ffffff;
}

#landlordBtn {
  background-color: #c1272d;
  color: white;
  max-width: 266px;
  padding: 16px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 32px;
}

#landlordBtn:hover {
  background-color: #a61e34;
}

.hero {
  max-width: 1200px;
  margin: 32px auto 0;
  background-image: url(/images/hero-bg.png);
  background-position: center;
  background-size: cover;
}

main .frame48095733 {
  max-width: 1045px;
  text-align: center;
  margin: 0 auto 32px;
}

.frame48095733 h1 {
  /* font-size: 60px;
  font-weight: 800;
  line-height: 70px; */

  font-family: Inter;
  font-weight: 800;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
}

.frame48095733 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.65);
  /* margin-bottom: 32px; */
}
.frame48095733 #image-container {
  margin-top: 32px;
}

.heroImageContainer {
  width: 60%;
  max-width: 587px;
  text-align: center;
  margin: 0 auto;
}

.heroImageContainer img {
  width: 100%;
  max-width: 522px;
  margin-top: 24px;
}

.containerC {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.containerC #container-card {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 1.25rem;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-number {
  padding: 10px 12px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background-color: #f4ebff;
  color: #c1272d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  left: calc(50% - 20px);
}

#container-card h3 {
  margin: 1.25rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

#container-card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #000000a6;
  text-align: center;
}

/* feature section */

.features-section {
  padding-top: 48px;
}

main .features-section {
  width: 90%;
  margin: auto;
}

.features-section #features-cont1 {
  height: 146px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features-section .containerA:last-of-type {
  margin: 0;
}

.text-container li::before {
  content: "✓";
  color: #c1272d;
  margin-right: 10px;
  padding: 3px 6px;
  border-radius: 14px;
  background-color: #f4ebff;
}

.text-container li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  color: #000000a6;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .how-it-works .containerC {
    flex-direction: column;
  }

  .waitlist .input-container {
    width: 100%;
  }

  #myForm button {
    font-size: 14px;
    padding: 0 14px;
    font-weight: 800;
  }

  .frame48095733 h1 {
    font-family: Inter;
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
  }
  .frame48095733 p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  #headbadge {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }
  .containerA h2 {
    /* font-size: 30px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: -0.02em; */
    text-align: center;
  }
  .containerA p {
    /* font-size: 18px;
      font-weight: 400;
      line-height: 28px; */
    text-align: center;
  }
  .containerC h3 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }
  .containerC p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }
}
